body {
  margin: 0;
  font-family: Londrina Solid;
}

p,
body,
button,
label,
img {
  user-select: none;
}

#playView {
  background-image: url("../../assets/images/sand.png");
  background-repeat: repeat;
  text-align: center;
}

#playView p {
  padding-top: 20px;
}

#flippers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* background-color: darkgreen; */
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  z-index: 100;
}

#playViewTurtles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -20px; /* match the margin on #playView p */
}

.turtle {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.turtle img {
  height: 80vh;
}

#flippers .flipper {
  height: calc(100vh - 20px);
  /* background-color: green; */
  border-radius: 12px;
}

#waitingView,
#introView {
  background-image: url("../../assets/images/sand.png");
  background-repeat: repeat;
  padding: 10px;
  height: calc(100vh - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#introView button {
  height: 50vh;
  width: 50vw;
  border-radius: 12px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

#introView button.ready {
  background-color: green;
}

#eggView .egg {
  position: relative;
}

#eggView {
  text-align: center;
}

#eggView .eggSprite {
  position: relative;
  z-index: 2;
}

#eggView img {
  height: 80vh;
}

#eggView .shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#readyView {
  text-align: center;
}

#readyView img {
  height: 80vh;
}

#readyView button {
  border: none;
}

#readyView .unready {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

#readyView .unready button {
  background-color: red;
  height: 20vh;
  width: 20vh;
}

#readyView .unready label {
  font-weight: bold;
  margin-right: 10px;
}

.turtle {
  position: relative;
}

.turtle .body {
  position: relative;
  z-index: 1;
}

.turtle .left-legs {
  position: absolute;
  left: 0;
}

.turtle .right-legs {
  position: absolute;
  right: 0;
}

.turtle .swipe-arrows {
  position: absolute;
  left: 0;
  margin-left: -120px;
}

.flip {
  transform: scaleX(-1);
}

.eggShatter {
  display: none;
  position: absolute;
}

.shattering {
  display: block;
}

.turtle .numberContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.turtle .number {
  font-weight: bolder;
  font-size: 64px;
  color: white;
  z-index: 10;
}
