body {
  margin: 0;
  font-family: Londrina Solid;
  color: #058700;
  text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}

p,
body,
button,
label,
img {
  user-select: none;
}

#playView {
  background-image: url("../../assets/images/sand.png");
  background-repeat: repeat;
  /* text-align: center; */
}

#playView p {
  /* position: absolute; */
  bottom: 0;
  /* width: 100%; */
}

#flippers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* background-color: darkgreen; */
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  z-index: 100;
}

#playViewTurtles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.turtle {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.turtle img {
  height: 80vh;
}

#flippers .flipper {
  height: calc(100vh - 20px);
  /* background-color: green; */
  border-radius: 12px;
}

#waitingView,
#introView,
#victoryView,
#loadingView {
  background-image: url("../../assets/images/sand.png");
  background-repeat: repeat;
  padding: 10px;
  height: calc(100vh - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#introView button {
  height: 50vh;
  width: 50vw;
  border-radius: 12px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

#introView button.ready {
  background-color: green;
}

#eggView .egg {
  position: relative;
}

#eggView {
  text-align: center;
}

#eggView .eggSprite {
  position: relative;
  z-index: 2;
}

#eggView img {
  height: 80vh;
}

#eggView .shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#readyView {
  text-align: center;
}

#readyView img {
  height: 80vh;
}

#readyView button {
  border: none;
}

#readyView .unready {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

#readyView .unready button {
  background-color: red;
  height: 20vh;
  width: 20vh;
}

#readyView .unready label {
  font-weight: bold;
  margin-right: 10px;
}

.turtle {
  position: relative;
}

.turtle .body {
  position: relative;
  z-index: 1;
}

.turtle .bow {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}

.turtle .left-legs {
  position: absolute;
  left: 0;
}

.turtle .right-legs {
  position: absolute;
  right: 0;
}

.turtle .swipe-arrows {
  position: absolute;
  left: 0;
  top: 50%;
  /* transform: scaleY(-1); */
}

.turtle .swipe-arrows.left {
  margin-left: -15vw;
}

.turtle .swipe-arrows.right {
  margin-left: 50vw;
  animation-delay: 1s;
}

.flip {
  transform: scaleX(-1);
}

.eggShatter {
  display: none;
  position: absolute;
}

.shattering {
  display: block;
}

.turtle .numberContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.turtle .number {
  font-weight: bolder;
  font-size: 64px;
  color: white;
  text-shadow: none;
  z-index: 10;
}

.dot {
  height: 1px;
  width: 1px;
  /* background-color: #bbb; */
  border-radius: 50%;
  display: inline-block;
  box-shadow: 1px 1px 0px 0px #bbb;
}

.squish {
  animation-name: squish;
  animation-duration: 1s; /* must match duration of interval in Turtle */
  animation-iteration-count: infinite;
}

.swipe {
  animation-name: swipe;
  animation-duration: 1s; /* must match duration of interval in Turtle */
  animation-iteration-count: infinite;
}

.dot-container p {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.dot-container img {
  position: absolute;
  /* left: 50%;
  top: 50%;
  margin-left: -5.5px;
  margin-top: -5.5px; */
  width: 50px;
  height: 50px;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  transform-origin: center;
}

.hidden {
  display: none;
}

.tapPopIn {
  animation-name: tapPopIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  transform-origin: center;
}

.scaleUp {
  animation-name: scaleUp;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  transform-origin: center;
}

@keyframes squish {
  from {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.8, 2);
  }
}

@keyframes swipe {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 250px, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(4, 4);
  }
}

@keyframes tapPopIn {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.35, 1.35);
  }
}

.placingContainer p {
  margin-right: 0.75em;
  font-size: 2.5em;
}

.placingContainer {
  display: flex;
  justify-content: flex-start;
}

#victoryView .turtle {
  margin-right: 2em;
}

#victoryView .victoryViewTextContainer {
  margin-right: 5.5em;
}

#loadingView progress {
  background-color: white;
}
